@charset "utf-8";

/* base */
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: 700;
}

/* srceen reader only */
.sr-only{
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* style */
body {
    text-align: center;
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

a {
    text-decoration: none;
}

/* main style */
#appLogin {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2F2F2;
}

.cont-login {
    width: 440px;
    height: 172px;
    padding: 30px 30px 30px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.cont-login .txt-login {
    margin: 25px 0 30px;
    line-height: 20px;
}

/* modal style */
.cont-modal {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont-modal.on {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cont-modal::after {
    display: block;
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.cont-modal .cont-form-login {
    position: relative;
    max-width: 520px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 20;
}

.modal-head {
    padding: 20px 24px 18px;
    border-bottom: 1px solid #C4C4C4;
}

.modal-head .tit-modal {
    font-weight: 500;
}

.modal-form {
    padding: 26px 24px 30px;
}

.modal-form .tit-inp {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
}

.modal-form .txt-hold {
    display: block;
    cursor: pointer;
    margin: 16px 0 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
}

.modal-form .txt-hold::before {
    display: inline-block;
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-image: url("../img/icon_check_empty.png");
    vertical-align: -5px;
}

/* 웹 접근성 고려한 요소 */
.modal-form .inp-hold:focus + .txt-hold::before {
    outline: 2px solid;
    border-radius: 50%;
}

.modal-form .inp-hold:checked + .txt-hold::before {
    background-image: url("../img/icon_check.png");
}

.modal-form .btn-login {
    padding: 14px 0;
    margin-bottom: 20px;
}

.modal-form a[class^="link"] {
    font-size: 14px;
    color: #767676;
}

.modal-form .link-signup::after {
    display: inline-block;
    content: "\007C";
    margin: 0 8px 0 12px;
}

.modal-foot {
    padding: 0 24px 25px;
}

.modal-foot .cont-sns-login {
    position: relative;
    padding-top: 29px;
    border-top: 1px solid #C4C4C4;;
}

.modal-foot .cont-sns-login::before {
    position: absolute;
    display: block;
    content: "또는";
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 13px;
    font-size: 14px;
    color: #767676;
    background-color: #FFFFFF;
    z-index: 10;
}

.modal-foot li + li {
    margin-top: 10px;
}

.cont-modal .btn-close {
    position: absolute;
    content: "";
    top: 22px;
    right: 24px;
    box-sizing: content-box;
}